@import "includes/fonts";
@import "includes/variables";
@import "vendors/bootstrap";
@import "includes/general";
@import "includes/ui.scss";

header.header {
	 font-family: 'lato';
	.top-header {
		position: relative;
		.logo {
			float: left;
			padding: 15px 0;
		}
		.location {
			float: left;
			font-weight: 600;
			font-size: 15px; 
			color: $darkColor;
			padding: 20px 48px;
			padding-right: 36px;
			position: relative;
			cursor: pointer;
			background: transparent;
			border: none;
			&:focus {
				transition: .3s;
				outline: none;
				& ~ .choose-cities {
					display: block;
				}
				&::before {
					color: #000;
					transition: .3s;
				}	
				&::after {
					color: #000;
					transition: .3s;
				}	
			}			
			&:hover {
				transition: .3s;
				&::before {
					color: #000;
					transition: .3s;
				}	
				// &::after {
				// 	color: #000;
				// 	transition: .3s;
				// }	
			}
			&::before {
				content: "\f041";
				font-family: FontAwesome;
				color: #d4cccd;
				transition: .3s;
				position: absolute;
				left: 28px;
				font-size: 17px;
			}
			&::after {
				content: "\f0d7";
				font-family: FontAwesome;
				color: #d4cccd;
				transition: .3s;
				position: absolute;
				right: 20px;
				font-size: 12px;
				top: 24px;
			}
		}
		.choose-cities {
			position: absolute;
			display: none;
			padding: 0;
			z-index: 1;
			box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.1);
			left: 125px;
			top: 45px;
			border-left: 2px dotted #eee;
			background: #fff;  
			li {
				list-style: none;
				padding: 3px 0;
				margin: 0;
				padding-left: 14px;
				padding-right: 50px;
				cursor: pointer;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					// color: #eee;
					width: 100%;
					height: 100%;
					background: rgba(200,200,200,.3);
					opacity: 0;
				}
				&:hover {
					// background: #eee;
					&::after {
						opacity: 1;
					}
				}
				&:last-child {
					// padding-bottom: 0;
				}
			}
		}
		nav {
			float: left;			
			ul {
				padding: 0;
				margin: 0;
				display: flex;
				li {
					list-style: none;
					padding: 21px 12px;
    				text-align: center;
    				position: relative;
    				&:hover {
						a {
							color: $activeRed;
						}
					}    				
					&.active {
						position: relative;
						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 3px;
							background: $activeRed;
						}
						a {
							color: $activeRed;
						}
					}
					a {
						font-weight: 600;
						font-size: 15px;
						text-transform: uppercase;
						color: $grayColor;
						padding: 21px 0;
						text-decoration: none;
					}
				}
			}
		}
		.log-reg {
			float: right;
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				display: inline-block;
				padding: 22px 5px;
				border-radius: 15px;
				&:last-child {
					padding-right: 0;
					padding-left: 0;
					a {
						color: $activeRed;
					}
				}
				a {
					border: 1px solid $borderColor;
					border-radius: 3px;
					padding: 6px 14px;
					font-size: 14px;
					color: $activeBlue;
					font-weight: 600;
					text-decoration: none;
					&:focus {
						background: $activeRed;
						color: #fff;
						border: 1px solid $activeRed;
					}
				}
			}
		}
		.login-form {
			position: absolute;
			display: none;
			background: #fff;
			right: 0;
			top: 70px;
			padding: 17px;
			box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				border: 10px solid transparent;
				border-bottom: 10px solid #fff;
				top: -20px;
				left: 174px;
			}
			.title {
				font-weight: 600;
				font-size: 14px;
				text-transform: uppercase;
				color: $activeRed;
				text-align: center;
			}
			input {
				height: 40px;
				width: 100%;
				border-style: solid;
				border-width: 1px;
				border-color: rgb(212, 204, 205);
				border-radius: 4px;
				background-color: rgb(255, 255, 255);
				box-shadow: inset 0px 2px 5px 0px rgba(0, 1, 2, 0.25);
				padding-left: 15px;
				margin-top: 15px;
				&:focus {
					outline: none;
				}
				&:last-child {
					margin-bottom: 15px;
				}
			}
			button[type="submit"] {
				background: $activeRed;
				height: 31px;
				width: 100%;
				border: none;
				color: #fff;
				border-radius: 4px;
				margin: 15px 0;
				border: 1px solid $activeRed;
				transition: .3s;
				&:hover {
					color: $activeRed;
					background: #fff;
					transition: .3s;
				}
			}
			.remember-forgot-block {
				margin-top: 15px;
				.remember {
					float: left;
					
					font-size: 14px;
				}
				.forgot {
					float: right;
					display: block;
					margin-top: 8px;
					text-decoration: none;
					color: $lightBlue;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: -4px;
						width: 100%;
						background: #c8d7e2;
						height: 1px;
						opacity: 1;
						transition: .3s;
					}
					&:hover {
						&::after {
							opacity: 0;
						}
					}
				}
				input {
					display: none;
					&:checked ~ label {
						background: #fff;
						border: 1px solid #d4cccd;
						&::before {
							content: "\f00c";
							font-family: FontAwesome;
							color: #d4cccd;
							font-size: 12px;
							position: absolute;
							top: -1px;
							left: 1px;
						}
					}
				}
				label {
					height: 15px;
					width: 15px;
					background: #d4cccd;
					border-radius: 3px;
					position: relative;
					margin-top: 10px;
					cursor: pointer;
					border: 1px solid #fff;
					&::after {
						content: 'Запомнить меня';
						position: absolute;
						left: 22px;
						bottom: -3px;
						white-space: nowrap;
						color: $darkColor;
					}
				}
			}
			.social-login {
				padding: 0;
				li {
					display: inline-block;
					padding-right: 23px;
					a {
						display: block;
						height: 24px;
						width: 24px;
						background-image: url(../img/social-sprite.png);
						background-position: 0 0;
						background-repeat: no-repeat;
						&.facebook {
							background-position: 0 0;
						}
						&.twitter {
							background-position: -48px 0;
						}
						&.google {
							background-position: -96px 0;
						}
						&.vk {
							background-position: -144px 0;
						}
						&.mail {
							background-position: -192px 0;
						}
					}
				}
			}
		}
	}
}

.search-block {
	height: 47px;
	border: 1px solid #d4cccd;
	box-shadow: inset 0px 2px 5px 0px rgba(0, 1, 2, 0.2);
	border-radius: 4px;
	position: relative;
	input.search {
		font-size: 14px;
		color: #201f21;
		width: calc(100% - 341px);
		height: 100%;
		border: none;
		padding-left: 10px;
		background-color: transparent;
		background-image: url(../img/i.png);
		background-position: right center;
		background-repeat: no-repeat; 
		font-family: 'Lato-Bold';
		color: #d11f3a;
	}

	button {
		border: none;
		background: none;
		&.category {
			width: 175px;
			background-color: #fdeeeb;
			height: 100%;
			float: left;
			box-shadow: inset 0px 2px 5px 0px rgba(0, 1, 2, 0.2);
			position: relative;
			text-align: left;
			font-size: 14px;
			color: #0a2a3d;
			font-weight: 600;
			padding-left: 15px;
			// &:focus {
			// 	background-color: #d11f3a;
			// 	color: #fff;
			// 	box-shadow: none;
			// 	// & ~ ul {
			// 	// 	display: block;
			// 	// }
			// 	&::after {
			// 		background-color: #d11f3a;
			// 	} 
			// 	&::before {
			// 		color: #fff;
			// 	} 
			// }
			&::after {
				content: "\f0d7";
				position: absolute;
				font-family: FontAwesome;
				height: calc(100% - 5px);
				width: 22px;
				right: 0;
				padding-top: 7px;
				top: 5px;
				color: #fad4cd;
				background-color: #fdeeeb;
			}
		}
		&.filter {
			width: 47px;
			height: 100%;
			color: transparent;
			background-image: url(../img/sticks.png);
			background-position: 12px center;
			background-repeat: no-repeat; 
			position: relative;
			background-color: #fdeeeb;
			margin-left: 12px;
			&::after {
				content: "\f0d7";
				position: absolute;
				font-family: FontAwesome;
				right: 6px;
				color: #fad4cd;
				background-color: #fdeeeb;
			}		
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 4px;
				width: 100%;
				box-shadow: inset 0px 2px 5px 0px rgba(0, 1, 2, 0.14);
			}	
		}
		&[type="submit"] {
			background: none;
			background-color: $activeRed;
			border: none;
			color: #fff;
			font-size: 12px;
			width: 103px;
			height: 100%;
			text-transform: uppercase;
			float: right;
			position: relative;
			&::after {
				// content: '';
				// position: absolute;
				// top: 0;
				// left: 0;
				// height: 4px;
				// width: 100%;
				// box-shadow: inset 0px 2px 5px 0px rgba(0, 1, 2, 0.2);
			}				
			&::before {
				content: "\f002";
				font-family: FontAwesome;
				margin-right: 8px;
			}
		}
	}
}

.recent-searches {
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 20px;
	li {
		list-style: none;
		padding: 15px 30px;
		display: inline-block;
		color: #9f9b9b;
		font-size: 14px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-top: 0;
		ul {
			padding-left: 0;
		}
		&:first-child {
			padding-right: 0;
		}
		&:nth-child(2) {
			padding-left: 0;
		}
		a {
			font-size: 14px;
			color: #4a799e;
			position: relative;
			text-decoration: none;
			font-family: 'Lato-Medium';
			&:hover {
				&::after {
					display: none;
				}
			}
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				height: 1px;
				width: 100%;
				background: #c8d7e2;
			}
		}
	}
}

.slider {
	position: relative;
	border-bottom: 1px solid #eae3e4;
	.item {
		height: 520px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;   
		&:focus {
			outline: none;
		}
		.text {
			font-weight: 100;
			font-family: 'Lato-Light';
			color: #333;
			font-size: 45px;
			margin-top: 117px;
			line-height: 52px;
			span {
				color: $activeRed;
				font-family: 'Lato-Bold';
				font-size: 48px;
			}
			a {
				display: block;
				color: #0a2a3d;
				border: 2px solid $activeRed;
				width: 245px;
				text-align: center;
				font-size: 16px;
				font-family: 'Lato-Bold';
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 0;
				text-decoration: none;
				border-radius: 4px;
				margin-top: 15px;
				&:hover {
					background: $activeRed;
					color: #fff;
				}
			}
		}
	}
	.next {
		height: 40px;
		width: 20px;
		background-image: url(../img/right.png); 
		top: 50%;
		position: absolute;
		z-index: 1;
		margin-top: -20px;
		right: 15px;
		cursor: pointer;
		&:hover {
			background-image: url(../img/left-active.png); 
			transform: rotate(180deg);
		}
	}
	.prev  {
		height: 40px;
		width: 20px;
		background-image: url(../img/right.png); 
		transform: rotate(180deg);
		top: 50%;
		left: 15px;
		position: absolute;
		z-index: 2;
		margin-top: -20px;	
		cursor: pointer;
		&:hover {
			background-image: url(../img/left-active.png); 
			transform: rotate(0);
		}
	}
	.slick-dots {
		text-align: center;
		bottom: 0px;
		position: absolute;
		width: 100%;
		li {
			display: inline-block;
			list-style: none;
			padding: 0 6px;
			&.slick-active {
				button {
					background: $activeRed;
				}
			}
			button {
				color: transparent;
				border: none;
				background: none;
				background: #eae3e4;
				border-radius: 100%;
				height: 12px;
				width: 8px;
			}
		}
	}
}

.auto-parts {
	padding-top: 16px;
	.col-md-1 {
		padding: 0;
	}
	h2 {
		text-align: center;
	}
	img {
		display: block;
		margin: 0 auto;
		padding-top: 23px;
		padding-bottom: 18px;
		padding-left: 8px;
    	padding-right: 7px;
    	cursor: pointer;
    	border: 1px solid #fff;
    	border-radius: 5px; 
		&:hover {
			box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
			border: 1px solid #e9e5e6;
		}
	}
	.small {
		.log {
			padding: 0;
			border-radius: 3px;
			border: 1px solid #fff;
			&:hover {
				box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
				border: 1px solid #e9e5e6;
				img {
					filter: grayscale(0);
    				opacity: 1;
				}
			}
			img {
				padding-left: 8px;
    			padding-right: 7px;
    			margin-left: 0;
    			padding-top: 10px;
    			padding-bottom: 10px;
    			border: none;
    			filter: grayscale(100%);
    			opacity: .6;
    			&:hover {
					box-shadow: none;
				}
			}
		}
	}
}

.goods {
	padding-top: 60px;
	h2 {
		text-align: center;
	}
}

.good {
	width: 100%;
	margin-bottom: 16px;
	background-size: cover;
	position: relative;
	.info {
		font-family: 'Lato-Light';
		font-size: 25px;
		position: absolute;
		bottom: 25px;
		left: 24px;
		color: #201f21;
		a {
			font-size: 15px; 
			color: #9f9b9b;
			text-decoration: none;
			display: block;
			&:hover {
				color: #000;
			}
			&::after {
				content: '\f178';
				color: #dcdcdd;
				font-family: FontAwesome;
				padding-left: 8px;
			}
		}
	}
}	
.big {
	height: 512px;
}
.medium {
	height: 336px;
}
.small {
	height: 160px;
}

.companies {
	padding-bottom: 16px;
	h2 {
		text-align: center;
	}
	.good {
		position: relative;
		box-shadow: 0px 1px 15px 0px rgba(212, 204, 205, 0.45);
		&:hover {
			box-shadow: 0px 1px 25px 0px rgba(159, 155, 155, 0.75);
			.corner {
				background-image: url(../img/red-corner.png); 
			}
			img {
				filter: invert(100%);

			}
		}
	}
	.info {
		color: #0a2a3d;
		bottom: 15px;
		a {
			color: #a5a1a1;
			&::after {
				height: 100%;
				width: 100%;
			}
		}
	}
	.quantity {
		font-family: 'Lato-Medium' !important;
		font-size: 14px !important;
	}
	.corner {
		position: absolute;
		right: 0;
		top: 0;
		background-image: none; 
		height: 128px;
		width: 181px;
		background-size: 100%; 
		img {
			display: block;
			margin: 0 auto;
			margin-top: 12px;
			margin-right: 14px;
		}
	}
}

.promotions {
	background: #f7f8fa;
	padding-bottom: 45px;
	h2 {
		text-align: center;
	}
	.col-md-3 {
		// box-shadow: 0px 1px 15px 0px rgba(212, 204, 205, 0.45);
		box-shadow: 0px 1px 26px -4px rgba(212, 204, 205, 0.45);
	}
	.promotion {
		background: #fff;
	}
	.promotion-image {
		height: 160px;
		width: 100%;
		background-size: cover; 
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 7px;
			border: 30px solid transparent;	
			border-top: 30px solid #d11f3a; 
			border-right: 30px solid #d11f3a;
		}
		&::before {
			content: attr(data-discount);
			position: absolute;
		    right: 12px;
		    top: 9px;
			color: #fff;
			font-size: 15px;
			font-family: 'Lato-Light';
			z-index: 1;
			transform: rotate(45deg);
		}
	}
	.promotion-title {
		color: $activeBlue;
		font-family: 'Lato-Medium';
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 29px;
		padding: 17px;
		padding-bottom: 0;
		display: block;
		text-decoration: none;
		min-height: 90px;
		&:focus {
			outline: none;
		}
	}
	.promotion-info {
		position: relative;
		padding-left: 47px;
		background-color: #f9fafb; 
		padding-bottom: 17px;
		padding-top: 14px;
		&::before {
			content: '';
			position: absolute;
			left: 17px;
			top: 20px;
			height: 24px;
			width: 24px;
			background-image: url(../img/elips-1.png); 
		}
		.company-name {
			color: $activeBlue;
		}
		.ocupation {
			text-transform: uppercase;
			color: #9f9b9b;
			font-size: 11px;
			margin-top: 2px;
			font-family: 'Lato-Medium';
		}
	}
	.slick-dots {
		text-align: center;
		bottom: -37px;
		position: absolute;
		width: 100%;
		li {
			display: inline-block;
			list-style: none;
			padding: 0 6px;
			&.slick-active {
				button {
					background: $activeRed;
				}
			}
			button {
				color: transparent;
				border: none;
				background: none;
				background: #eae3e4;
				border-radius: 100%;
				height: 12px;
				width: 8px;
			}
		}
	}	
	.slick-slide {
		margin-bottom: 24px;
		&:focus {
			outline: none;
		}
	}
}

.news {
	font-family: "lato";
	h2 {
		text-align: center;
	}
	.new-image {
		height: 72px;
		width: 100%;
		background-size: cover;
		margin-bottom: 16px; 
	}
	.new {
		height: 72px;
		margin-bottom: 16px; 
		overflow: hidden;
	}
	.big-block {
		height: 336px;
		width: 100%;
		color: #fff;
		transition: .8s;
		background-size: 100%;
		// background-position: center center; 
		// &:hover {
		// 	background-size: 130%;
		// 	transition: .8s; 
		// }
	}
	.big-block {
		position: relative;
	}
	.big-block-inner {
		position: absolute;
		bottom: 19px;
		left: 24px;
		right: 24px;
	}
	.time {
		font-family: 'Lato-Light';
		font-size: 10px;
		text-transform: uppercase;
	}
	.big-title {
		margin-bottom: 26px;
		font-size: 23px;
	}
	.big-more {
		color: #eae3e4;
		text-decoration: none;
		font-family: 'Lato-Light';
		&:hover {
			color: #fff;
		}
		&::after {
		    content: '\f178';
			color: #eae3e4;
			font-family: FontAwesome;
			padding-left: 8px;
		}
	}
	.news-block {
		margin-top: -4px;
		margin-bottom: 36px;
		&:hover {
			.news-title {
				color: #4f9ed2;
				text-decoration: underline;
			}
			.news-time {
				color: $activeBlue;
			}
		}
		.news-time {
			color: #a5a1a1;
			font-size: 10px;
		}
		.news-title {
			color: $activeBlue;
			text-decoration: none;
		}
	}
	.new {
		color: $activeBlue;
		display: block;
		text-decoration: none;
		&:hover {
			color: #d55853;
		}
	}
	.new-time {
		font-size: 10px;
		margin-bottom: 3px;
		text-transform: uppercase;
	}	
}

.raiting {
	padding-bottom: 53px;
	padding-top: 26px;
	h2 {
		text-align: center;
		margin-bottom: 38px;
	}
	.raiting-col-title {
		border-bottom: 2px solid #d11f3a;
		text-align: center;
		color: $activeBlue;
		font-family: 'Lato-Bold';
		font-size: 21px;
		padding-bottom: 8px;
	}
	.line {
		z-index: 1;
		position: relative;

		&:last-child {
			
		}
		&.first {
			.inl {
				font-family: 'Lato-Bold';
			}
			.number {
				color: #d11f3a;
			}
			.rate {
				color: #d11f3a;
			}
		}
		&.second {
			.inl {
				font-family: 'Lato-Bold';
			}
			.number {
				color: #0a2a3d;
			}
			.rate {
				color: #0a2a3d;
			}
		}
		line-height: 47px;
		.inl {
			display: inline-block;
			float: left;
			text-align: left;
			color: #333;
			font-family: 'Lato-Medium';
		}
		.number {
			width: 10%;
			color: #9f9b9b;
			padding-left: 8px;
		}
		.name {
			width: 40%;
			text-align: left;
			padding-left: 10px;
		}
		.stars {
			padding: 0;
			margin: 0;
			width: 40%;
			padding-left: 10px;
			li {
				display: inline-block;
				height: 11px;
				width: 12px;
				background-image: url(../img/stars.png);
				&.red {
					background-position: 0 0; 
				}
				&.pink {
					background-position: 12px 0;
				}
			}
		}
		.rate { 
			width: 10%;
			color: #9f9b9b;
		}
	}
	.all {
	    font-size: 14px;
	    color: #4a799e;
	    position: relative;
	    text-decoration: none;
	    display: inline-block;
	    width: 96px;
	    text-align: center;
	    margin: auto;
	    transform: translateX(-50%);
	    left: 50%;
	    margin-bottom: 20px;
		&:hover {
			&::after {
				opacity: 0;
			}
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #c8d7e2; 
			left: 0;
			bottom: -4px;
		}
	}
	.line-divider {
		display: inline-block;
		height: 1px;
		width: 100%;
		background-color: #eae3e4; 
		margin-bottom: 11px;
	}
}

.text-section {
	padding: 30px 0;
	background-color: #f5f5f5;
	color: #201f21;
	font-family: 'Lato-Medium';
	p {
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	} 
}

footer.footer {
	background-color: #0a2a3d;
	padding-top: 24px;
	padding-bottom: 20px;
	font-size: 14px;
	.upper {
		color: #fff;
		text-transform: uppercase;
		a {
			opacity: 1;
		}

	}
	.add-price {
		text-transform: uppercase;
		text-align: center;
		margin-top: 12px;
		a {
			opacity: 1;
			border: 1px solid #6e243b;
			padding: 6px 10px;
			font-family: 'Lato-Bold';
			border-radius: 6px;
			margin-top: 8px;
			display: block;
			font-size: 12px;
			letter-spacing: 1px;
			&:hover {
				background-color: #6e243b;
			}
			&::after {
				display: none;
			}
		}
	}
	.copy {
		color: #fff;
		font-size: 12px;
		text-align: center;
		opacity: 1;
		margin-top: 46px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
		}
	}
	a {
		color: #f7f8fa;
		text-decoration: none;
		opacity: .4;
		line-height: 28px;
		position: relative;
		&:hover {
			&::after {
				width: 100%;
				transition: .3s;
			}
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			height: 1px;
			width: 0;
			background-color: #fff; 
			transition: .3s;
		}
	}
}

// search and filters

#category-search-list {
	position: absolute;
	left: -1px;
	top: 47px;
	z-index: 99; 
	padding: 0;
	margin: 0;
	display: none;
	box-shadow: -14px 5px 30px -16px rgba(212, 204, 205, 0.8);
	border-bottom-left-radius: 4px;
	li {
		display: block;
		float: none;
		width: 175px;
		position: relative;
		background-color: #fff;
		&:last-child {
			a {
				border-bottom-left-radius: 4px;
			}
		}
		&:hover {
			background: #fad4cd; 
			ul {
				display: block;
			}
			li a {
				color: #333;
			}
			a {
				color: #d11f3a;
			}
			&::after {
				background: #fad4cd; 
			}
		}
		&::after {
			content:'';
			background: #ebe8e8; 
			position: absolute;
			left: 2px;
			bottom: 0;
			height: 1px;
			width: 100%;
		}
		&:first-child {
			a {
				position: relative;
				&::before {
					content:'';
					position: absolute;
					left: 0;
					top: -3px;
					height: 3px;
					width: 100%;
					background: #d11f3a; 
				}
			}
		}
		a {
			font-family: 'Lato-Bold';
			font-size: 14px;
			color: #333;
			display: block;
			padding: 12px 17px;
			&:hover {
				color: #d11f3a;
				background-color: #fad4cd;
				text-decoration: none; 
			}
		}
		ul {
			padding: 0;
			margin: 0;
			position: absolute;
			left: 175px;
			background-color: #fff;
			top: 0;
			width: 288px;
			display: none;
			border-left: 1px solid #fad4cd;
			box-shadow: 8px 5px 30px -8px rgba(212, 204, 205, 0.8);
			&::before {
				content:'';
				position: absolute;
				left: 0;
				top: 14px;
				z-index: 999;
				border: 7px solid transparent;	
				border-left: 7px solid #fad4cd;
			} 
			li {
				padding: 0;
				float: left;
				display: inline-block;
				width: 50%;
				
				&::after {
					display: none;
				}
				a {
					color: #0a2a3d;
					font-family: "lato";
					font-size: 14px;
					padding: 14px 16px;
					cursor: pointer;
					display: block;
					position: relative;
					background-color: #fff;
					&:hover {
						color: #d11f3a;
						background-color: #fff;
						text-decoration: underline;
						&::after {
							transition: .3s;
							width: calc(100% - 30px);
						}
					}
					&::before {
						display: none;
					}
				}
			}
		}
	}
}

.btn-r {
	background-color: #d11f3a !important;
	color: #fff !important;
	box-shadow: none !important;
	&::after {
		background-color: #d11f3a !important;
	} 
	&::before {
		color: #fff !important;
	} 
}
